.table-header {
    width: auto;
}

.table-header .component-name, .table-header .component-status {
    border: 0px;
    line-height: 30px;
}

.component {
    width: auto;
    height: 30px;
}

.component:hover {
    background-color: #ddd;
}

.component-name {
    box-sizing: border-box;
    float: left;
    height: 100%;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px 0 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
    border-bottom: 1px solid #eee;
}

.component-status {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    box-sizing: border-box;
    float: left;
    height: 100%;
    text-align: center;
    width: 15%;
}

.red, .aborted {
    background-color: #8E0C0C;
}

.yellow {
    background-color: rgba(208, 211, 0, 0.4);
}

.blue {
    background-color: rgba(0, 173, 208, 0.4);
}

.white {
    background-color: rgba(196, 196, 196, 0.4);
}

.blue_anime, .yellow_anime, .red_anime {
    background-color: #9F7DE8;
}

.hide {
    display: none;
}
.group {
    cursor: pointer;
}
.group .component-name{
    background: url('img/plus.png') no-repeat 10px center;
    font-weight: bold;
}
.grouped{
    background-color: #ccc;
}
.focus {
    /*opacity: .6;*/
}

a.full-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.status {
    color: black;
    font-weight: bold;
}

.component-status a {
font-family: sans-serif !important;
color: rgba(0,0,0,0.6);
line-height: 30px;
font-weight: bold;
}
