.table-header {
    width: auto;
}

.component {
    width: auto;
    height: 30px;
    opacity: .6;
}

.component:hover {
    opacity: .9 !important;
    font-weight: bold;
}

.component-name {
    box-sizing: border-box;
    float: left;
    height: 100%;
    line-height: 30px;
    opacity: 1;
    overflow: hidden;
    padding: 0 10px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}

.component-status {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    float: left;
    height: 100%;
    text-align: center;
    width: 15%;
}

.red {
    background-color: #8E0C0C;
}

.yellow {
    background-color: #D0D300;
}

.blue {
    background-color: #00add0;
}

.white {
    background-color: #C4C4C4;
}

.blue_anime {
    background-color: #9F7DE8;
}

.hide {
    display: none;
}

.group {
    cursor: pointer;
    background: #EEE;
}

.not-focus {
    opacity: .1;
}

.focus {
    opacity: .6;
}

.important {
    opacity: 1 !important;
    background: #FFFFCC;
}

a.full-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
