.table-header {
    width: auto;
}

.component {
    width: auto;
    height: 20px;
    opacity: .6;
}

.component:hover {
    opacity: .9 !important;
    font-weight: bold;
}

.component-name {
    float: left;
    padding: 0px 10px;
    width: 240px;
    height: 100%;
    text-align: right;
    opacity: 1 ;
}

.component-status {
    float: left;
    width: 50px;
    height: 100%;
    text-align: center;
}

.red {
    background: linear-gradient(45deg, #EA6B6B, #8E0C0C);
}

.yellow {
    background: linear-gradient(45deg, #FAFF05, #D0D300);
}

.blue {
    background: linear-gradient(45deg, #1E5799, #7db9e8);
}

.white {
    background: linear-gradient(45deg, #EFEFEF, #C4C4C4);
}

.blue_anime {
    background: linear-gradient(45deg, #721E99, #9F7DE8);
}

.hide {
    display: none;
}

.group {
    cursor: pointer;
    background: #EEE;
}

.not-focus {
    opacity: .1;
}

.focus {
    opacity: .6;
}

.important {
    opacity: 1 !important;
    background: #FFFFCC;
}

a.full-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.status {
    color: black;
    font-weight: bold;
}

.component-status a {
    color: black !important;
    font-weight: bold;
}
