.pseudo-td {
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
    border: 1px #AAA solid;
    margin-top: 10px;
    float: left;
}

span.header-vertical {
    background: #CCC;
    padding: 5px 15px;
    margin: 0 auto 0 0;
    font-weight: bold;
    border-bottom: 1px #AAA solid;
    display: block;
}

span.result-vertical {
    margin: 0px;
    padding: 10px 0px;
    display: block;
}

.pseudo-tr {
    float: left;
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
    border: 1px #AAA solid;
    margin-top: 10px;
}

span.header-horizontal {
    background: #CCC;
    padding: 5px 15px;
    margin: 0 auto 0 0;
    font-weight: bold;
    text-align: right;
    float: left;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span.result-horizontal {
    width: 30px;
    margin: 0px;
    padding: 5px 15px;
    float: left;
}
