/* Generic constraints */
#pull-requests ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#pull-requests h3 {
    font-size: 1.4rem;
    margin: 0px;
    padding: 12px;
    margin-top: 0px;
    color: #515151;
    font-weight: 100;
}
.pull-request-list{
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.pull-request {
    padding: 0px;
    border-top: 2px solid white;
    margin-bottom: 0px;
    font-size: 1rem;
    min-height: 40px;
    overflow: hidden;
}
.pull-request:first-child{
    border-top: 0;
}
.pull-request .pull-header{
    height: 40px;
    overflow: hidden;
    position: relative;
}
.pull-request .pull-details{
    cursor: pointer;
    border-radius: 50px;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 9px;
    left: 5px;
    overflow: hidden;
    text-indent: 100px;
    background: url('img/plus.png') center center no-repeat;
}
.pull-request .pull-details:hover{
    background-color: rgb(255,255,255);
}
.branch-links {
    position: absolute;
    top: 0px;
    right: -200px;
    background-color: inherit;
    transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
    z-index: 10;
    height: 40px;
}
.pull-request:hover .branch-links{
    right: 0px;
    transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}
.branch-links a {
    border-left: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    overflow: hidden;
    text-indent: 200px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.branch-links a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.pull-request .pull-diff{
    background-image: url('img/diff-icon.png');
}
.pull-request .pull-retest{
    background-image: url('img/retest-icon.png');
}
.pull-request .pull-github{
    background-image: url('img/github-icon.png');
}

.branch-name {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 150px;
    cursor: pointer;
    background: url('img/plus.png') 10px center  no-repeat;
}
.branch-name span{
    background-color: white;
    border-radius: 50px;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: sans-serif !important;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 0 10px;
    vertical-align: middle;
}
.pull-request .pull-content{
    display: none;
    font-size: 0.9em;
}
.pull-request-status,
.pull-more-info {
    padding: 15px 40px;
    color: #525252;
    border-top: 1px dashed rgba(0,0,0,0.1);

}
.pull-request .pull-more-info dt {
    font-size: 0.65em;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    margin:0px;
}
.pull-request .pull-more-info dd {
    font-size: 1em;
    color: #333;
    margin: 0px 0px 10px 0px;
}
.build-failure,
.build-failure .branch-links {
    background-color: rgba(255, 121, 0,0.15);
}
.build-failure:hover{
    background-color: rgba(255, 121, 0,0.3);
}
.build-failure .pull-header,
.dropdown li#filter-failure{
    color: #D90000
}
.build-success,
.build-success .branch-links  {
    background-color: rgba(105, 190, 40,0.15);
}
.build-success:hover {
    background-color: rgba(105, 190, 40,0.3);
}
.build-success .pull-header,
.dropdown li#filter-sucess{
    color: #46962D
}
.build-none,
.build-none .branch-links {
    background-color: rgba(0, 173, 208,0.15);
}
.build-none:hover {
    background-color: rgba(0, 173, 208,0.3);
}
.build-none .pull-header,
.dropdown li#filter-none{
    color: #0087A5
}

.build-active {
    background-image: url('jenkins.png');
    background-repeat: no-repeat;
    background-position: center;
}

.merged-change {
    background-color: #8888FF;
}

/* filter */

.filter{        
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 50;
    min-height: 40px;
    min-width: 40px;
}
.filter .filter-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: url(img/filter.png) center center no-repeat white;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 3;
    cursor: pointer;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.filter .filter-btn:hover{
    background-color: #f5f5f5;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.filter .dropdown{
    display: none;
}
.dropdown{
    background-color: #fff;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -22px;
    top: 20px;
    z-index: 2;
}
.dropdown li{
    padding: 15px 90px 15px 40px;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.dropdown li:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}
.dropdown li:before{
    border: 1px solid #ccc;
    content: " ";
    height: 14px;
    left: 10px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 14px;
    background: white center center no-repeat url(img/check.png);
}
.dropdown li.unchecked:before{
    background-image: none;
}




