@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,400italic);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #fff; 
}

h1 {
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-weight: 100;
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

table {
  margin-left:  auto;
  margin-right: auto;
  border-spacing: 0;
  border: 1px solid #444;
  font-size: 14px;
  font-family: verdana;

}

th, td {
  border: 1px solid #888;
  padding: 5px 10px;
  text-align: center;
}

a.component {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%
}

th a,
th a:visited {
  text-decoration: none;
  color: #666;
}

th a:hover,
th a:focus {
  text-decoration: none;
  color: #222;
}
.hide {
  display: none;
}
#single-module .module-block{
  width: 80%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 10%;
  right: 10%;
}
#dashboard .module-block{
  width: 48.5%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 1%;
}
#dashboard .module-block + .module-block{
  right: 1%; 
  left: initial;
}
.module-block h2{
  text-align: center;
}
.module {
    background: white;
    border: 1px solid #DDDDDD;
    box-shadow:inset 0 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    top: 50px;
    position: absolute;
    width: 100%;
    bottom: 0px;   
}
.clear-left {
    clear: left;
}

.separator {
    height: 10px;
}

a, a:visited {
    color: #0087a5;
    text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 0.9rem;
  text-align: center;
}
