body {
    margin: 0px;
    padding: 10px 10px 45px 10px;
}

h1 {
  text-align: center;
}

table {
  margin-left:  auto;
  margin-right: auto;
  border-spacing: 0;
  border: 1px solid #444;
  font-size: 14px;
  font-family: verdana;

}

th, td {
  border: 1px solid #888;
  padding: 5px 10px;
  text-align: center;
}

a.component {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%
}

th a, th a:visited {
    text-decoration: none;
    color: #666;
}

th a:hover, th a:focus {
    text-decoration: none;
    color: #222;
}

.hide {
    display: none;
}

.module {
    background: rgba(255,255,255,0.35);
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 2px 12px #DDDDDD;
    border-radius: 6px;
    padding: 1%;
    font-size: 16px;
    font-family: Helvetica;
}

.module-name {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
}

.clear-left {
    clear: left;
}

.separator {
    height: 10px;
}

a, a:visited {
    text-decoration: none;
    color: #666;
}

a:hover, a:focus {
    color: #333;
}
