<div id="confirmation-dialog" class="popup-dialog">
    <p>Are you sure you want to retest this pull request?</p>
    <span class="dialog-buttons">
        <button id="confirm-button">Yes</Button>
        <button id="cancel-button">No</Button>
    </span>
</div> <!-- confirmation-dialog -->
<div id="success-dialog" class="popup-dialog">
    <p style="color:#46962D;">Retest comment posted correctly.</p>
</div>
<div id="error-dialog" class="popup-dialog">
    <p style="color:#d90000;">ERROR: Comment couldn't be posted at GitHub.</p>
</div>
<div id="fade"></div>
