<div id="jenkins" class="module">
    <div class="module-name">Jenkins jobs</div>
    <div class="table-header">
        <div class="component-name">&nbsp;</div>
        {% for job in jobs %}
            <div class="component-status"><a href="{{ job['url'] }}" target="_blank">{{ job['short_name'] }}</a></div>
        {% endfor %}
        <div class="clear-left"></div>
    </div> <!-- table-header -->
    {% for name, component in components.iteritems() %}
        {% if 'group' == component['type'] %}
            {% set group = " (group)" %}
            <div id="{{ name }}"  class="component {{ component['global_class'] }}" onClick="groupFolding('{{ component['name'] }}')">
        {% else %}
            {% set group = '' %}
            <div id="{{ name }}"  class="component {{ component['global_class'] }}" >
        {% endif %}

        <div class="component-name">{{ component['name'] }}</div>
        {% for job in jobs %}
        {% if name in job['components'] %}
            <div class="component-status {{ job['components'][name]['color'] }}">
                {% if component['name'] in issues %}
                    {% if job['short_name'] in issues[component['name']] %}
                        {% if 'number_issues_open' in issues[component['name']][job['short_name']] %}
                            {{ issues[component['name']][job['short_name']]['number_issues_open'] }}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if 'href' in job['components'][name] %}
                <a href="{{ job['components'][name]['href'] }}" class="full-div" target="_blank"></a>
                {% endif %}
            </div>
        {% else %}
            <div class="component-status white"></div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="clear-left"></div>
    {% endfor %}
</div> <!-- jenkins -->

