<h2>ANSTE Tests & Tracker Issues</h2>
<div id="jenkins" class="module">
    <div class="table-header">
        <div class="component-name">&nbsp;</div>
        {% for version in versions %}
            <div class="component-status">{{ version }}</div>
        {% endfor %}
        <div class="clear-left"></div>
    </div> <!-- table-header -->
    {% include 'jenkins-floating-divs.html' %}
    {% for name, job in jobs.iteritems() %}
        {% if 'group' == job['type'] %}
            {% set group = " (group)" %}
            <div id="{{ name }}"  class="component {{ job['global_class'] }}" onClick="groupFolding('{{ job['name'] }}')">
        {% else %}
            {% set group = '' %}
            <div id="{{ name }}"  class="component {{ job['global_class'] }}" >
        {% endif %}

        <div class="component-name">{{ job['name'] }}</div>
        {% for version in versions %}
        {% if version in job %}
            <div class="component-status {{ job[version]['color'] }}">
                {% if job['name'] in issues %}
                    {% if version in issues[job['name']] %}
                        {% if 'number_issues_open' in issues[job['name']][version] %}
                            <a class="number-of-issues" href="#" onClick="showOrHideIssuesDiv('{{job['name']}}', '{{ version }}', 'open')">{{ issues[job['name']][version]['number_issues_open'] }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if 'url' in job[version] %}
                <a href="{{ job[version]['url'] }}" class="full-div" target="_blank"></a>
                {% endif %}
            </div>
        {% else %}
            <div class="component-status white"></div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="clear-left"></div>
    {% endfor %}
</div> <!-- jenkins -->

