<div id="public-tracker" class="module">
    <div class="module-name">Public tracker</div>
    <div id="component-matrix-public">

        <div class="component-issues">
        <div class="component-public-tracker">&nbsp;</div>
        {% for version in versions %}
            <div class="issues-counter">
            {{version}}
            </div>
        {% endfor %}
        </div>
        <div class="clear-left"></div>

        {% for component_name, issues_versions in components.iteritems() %}
            <div class="component-issues">
            <div class="component-public-tracker"><strong>{{component_name}}</strong></div>
            {% for version in versions %}
                <div class="issues-counter">
                {% if version in issues_versions %}
                    {% for status, issues in issues_versions[version].iteritems() %}
                        <div class="{{status}}-status {{version}}">{{issues|length}}</div>
                    {% endfor %}
                {% else %}
                    <div class="{{ version }}">&nbsp;</div>
                {% endif %}
                </div>
            {% endfor %}
            </div>
            <div class="clear-left"></div>
        {% endfor %}
    <div> <!-- component-matrix-public -->

    <div class="separator"></div>

    <div id="developers-public">
        {% for developer, issues in developers.iteritems() %}
            <div class="pseudo-tr">
                <span class="header-horizontal">{{ developer }}</span>
                <span class="result-horizontal">{{ issues|length }}</span>
            </div>
            <div class="clear-left"></div>
        {% endfor %}
    <div> <!-- developers-public -->

    <div class="separator clear-left"></div>

    <div id="stats-public">
        {% for issue_status, issues in issues_stats.iteritems() %}
            <div class="pseudo-td">
                <span class="header-vertical">{{ issue_status }}</span>
                <span class="result-vertical">{{ issues }}</span>
            </div>
        {% endfor %}
    <div> <!-- stats-public -->
    <div class="clear-left"></div>
</div> <!-- public tracker-->

