<div id="public-tracker" class="module">
    <div class="module-name">Public tracker</div>
    <div id="stats-public">
        {% for issue_status, issues in issues_stats.iteritems() %}
            <div class="pseudo-td">
                <span class="header-vertical">{{ issue_status }}</span>
                <span class="result-vertical">{{ issues }}</span>
            </div>
        {% endfor %}
    </div> <!-- stats-public -->

    <div class="separator clear-left"></div>

    <div id="component-matrix-public">
        <div class="component-issues" style="background:#FAFAFA;">
        <div class="component-public-tracker">&nbsp;</div>
        {% for version in versions %}
            <div class="issues-counter">
            {{version}}
            </div>
        {% endfor %}
        </div>

        {% for component_name, issues_versions in components.iteritems() %}
            <div class="component-issues">
            <div class="component-public-tracker"><strong>{{component_name}}</strong></div>
            {% for version in versions %}
                <div class="issues-counter">
                {% if version in issues_versions %}
                    {% for status in ("New", "Accepted", "Feedback") %}
                        {% if status in issues_versions[version] %}
                        <div id="{{component_name}}-{{version | replace(".", "")}}-{{status}}" class="tickets">
                        <h1>{{component_name | upper}}({{version}}): {{status}} issues</h1>
                        <span class="close-button" onClick="showOrHideIssuesDiv('{{component_name}}', '{{version}}', '{{status}}')">x</span>
                        <ul>
                        {% for issue in issues_versions[version][status] %}
                            <li><a href="{{issue['url']}}" target="_blank">{{issue['subject']}}</a></li>
                        {% endfor %}
                        </ul>
                        </div>
                        <div class="{{status}}-status {{version}}"><span onClick="showOrHideIssuesDiv('{{component_name}}', '{{version}}', '{{status}}')">{{issues_versions[version][status]|length}}</span></div>
                        {% else %}
                        <div class="{{ version }} New-status">&nbsp;</div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="{{ version }} New-status">&nbsp;</div>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div> <!-- component-matrix-public -->

    <div class="separator clear-left"></div>

    <div id="developers-public">
        {% for developer, issues in developers.iteritems() %}
            <div class="pseudo-tr">
                <span class="header-horizontal">{{ developer }}</span>
                <span class="result-horizontal">{{ issues|length }}</span>
            </div>
            <div class="clear-left"></div>
        {% endfor %}
    </div> <!-- developers-public -->
    <div class="clear-left"></div>
</div> <!-- public tracker-->

