{% include 'confirmation-dialogs.html' %}
<h2>Pull-requests</h2>
<div class="filter">
    <span class="filter-btn"></span>
    <ul class="dropdown">
        <li id="filter-sucess">Success</li>
        <li id="filter-failure">Failure</li>
        <li id="filter-none">Not tested</li>
    </ul>
</div>
<div id="pull-requests" class="module">

    {% for base_branch in base_branchs %}
    <div class="pull-block">
        <h3>{{ base_branch }}</h3>
        <ul class="pull-request-list">
        {% for pr_id, pull_request in pulls.iteritems() %}
            {% if pull_request['base_branch'] == base_branch %}
            <li class="pull-request {{pull_request['build_state']}}"id="{{pull_request['number']}}">
                <div class="pull-header">
                   <div class="branch-name" title="show details"> {{ pull_request[  'branch'] }}<span> {{ pull_request['statuses'] | length }}</span> </div>
                    <span class="branch-links">
                    <a title = "Add a comment to the pull request so it will be retested again" href="#" onClick="showConfirmationDialog('{{ pull_request['organization'] }}', '{{ pull_request['repository'] }}', '{{ pull_request['number'] }}')" class="pull-retest">Retest</a><a title="View the pull request at GitHub" title="Display jenkins builds" class="pull-github" href="{{ pull_request['html_url'] }}"></a><a title="View the diff of this pull request at GitHub" href="{{ pull_request['html_url'] }}/files" class="pull-diff" target="_blank">Diff</a>
                    </span>
                </div> <!-- pull-header -->
                <div class="pull-content" Id="{{pull_request['number']}}-info">
                     <dl class="pull-more-info">
                        <dt>Developer</dt>
                            <dd>{{ pull_request['user'] }}</dd>
                        <dt>Full title</dt>
                            <dd>{{ pull_request['title'] }}/</dd>
                        <dt>Description</dt>
                            <dd>{{ pull_request['body'] }}</dd>
                    </dl><!-- pull-more-info -->

                    <div class="pull-request-status" id="{{pull_request['number']}}-status">
                    <strong>Status ( {{ pull_request['statuses'] | length }} )</strong>
                    <ul> {% for status in pull_request['statuses'] %}
                        <li>[{{ status['date'] }}] {{ status['context'] }}: <a title="Show Jenkins build information [new window]" href="{{ status['url'] }}" target="_blank">{{ status['state'] }}</a></li>
                    {% endfor %} </ul>
                    </div> <!-- pull-request-status -->
                </div>
            </li><!-- pull-request -->
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div> <!-- pull-requests -->
