<!doctype html>
<html>
{% include 'head.html' %}
<body>
    <div id="pull-requests" class="module">
        {% for branch in packages.keys() %}
            <h3>{{ branch }}</h3>
            <div class="packages">
                <ul>
                    {% for package in packages[branch] %}
                        <li>
                            <div class="pull-request build-success" id="{{ package['name'] }}">
                                <div class="pull-header">
                                    <span class="branch-name">{{ package['name'] }}</span>
                                    <span class="branch-links">
                                        <a title="Show changes" class="" href="#" onClick="showInfoDiv('{{package['name']}}')">Changes</a>
                                    </span>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="pull-more-info" id="{{ package['name'] }}-info">
                                    <pre>{{ package['changes'] }}</pre>
                                    <ul>
                                        {% for pr in package['prs'] %}
                                            <li>{{ pr }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div> <!-- content -->
    {% include 'footer.html' %}
</body>
</html>

