<!doctype html>
<html>
{% include 'head.html' %}
<body>
    <div id="pull-requests" class="module">
        {% for branch in packages.keys() %}
            <h3>{{ branch }}</h3>
            <div class="packages">
                <ul>
                    {% for package in packages[branch] %}
                        <li><div class="pull-request">{{ package }}</div></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div> <!-- content -->
    {% include 'footer.html' %}
</body>
</html>

