<!doctype html>
<html>
{% include 'head.html' %}
<body id="single-module">
    <div class="module-block">
    <h2>Release pending packages</h2>
    <div id="pull-requests" class="module">
        {% for branch in packages.keys() %}
        <div class="pull-block">
            <h3>{{ branch }}</h3>
            <div class="packages">
                <ul>
                    {% for package in packages[branch] %}
                        <li>
                            <div class="pull-request build-success" id="{{ package['name'] }}">
                                <div class="pull-header">
                                    <div class="branch-name" title="show details">
                                        {{ package['name'] }}<span> {{ package['count'] }}</span>
                                    </div>
                                </div>
                                <div class="pull-content" id="{{ package['name'] }}-info">
                                    {% if package['changes'] %}
                                    <ul class="changelog-changes-list release-list">
                                        <strong>Merged features ({{ package['changes'] | length }})</strong>
                                        {% for change in package['changes'] %}
                                            <li class="merged-change">
                                                <a title="View the changeset at GitHub" href="{{ change['url'] }}" target="_blank">
                                                    - {{ change['entry'] }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if package['prs'] %}
                                    <ul class="pull-request-list release-list">
                                        <strong>Open pull requests ({{ package['prs'] | length }})</strong>
                                        {% for pr in package['prs'] %}
                                            <li class="{{pr['build_state']}}-release">
                                                <a title="View the pull request at GitHub" href="{{ pr['html_url'] }}" target="_blank">
                                                {% if 'failure' in pr['build_state'] %}
                                                    <span><img style="margin: 0 1px -1px 3px;"src="../static/img/failure.png" width="10px" /></span> {{ pr['number'] }}: {{ pr['branch'] }}
                                                {% else %}
                                                    <span><img style="margin: 0 1px -2px 3px;" src="../static/img/correct.png" width="12px" /></span> {{ pr['number'] }}: {{ pr['branch'] }}
                                                {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div> <!-- pull-requests -->
    </div> <!-- module-block -->
    {% include 'footer.html' %}
</body>
</html>

